<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">

    <!-- font awesome 4 -->
    <script src="https://kit.fontawesome.com/5f007f948d.js" crossorigin="anonymous"></script>
  </head>

  <div class="container-fluid">

<div class="navbar-wrapper">


  <nav class="navbar navbar-expand-lg navbar-light">
    <!-- <img class="brand" src="https://image.flaticon.com/icons/svg/3104/3104961.svg" alt="brand"> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="width:100%">
      <li class="nav-item active">
        <a class="nav-link desktop" href="/home"><img class="brand" src="https://image.flaticon.com/icons/svg/3104/3104961.svg" alt="brand"><span class="sr-only">(current)</span></a>
        <a class="nav-link phone" href="/home">Home<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item nav-items dropdown phone">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My profile
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/updateBio">Write bio<span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="/write">Write new story<span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="/myProfile">Manage posts<span class="sr-only">(current)</span></a>
          <div class="dropdown-divider"></div>
          <form class="dropdown-item" action="/logOut" method="post">
            <button class="btnLink" type="submit" name="button">Log out</button>
          </form>

          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#writter">Writter</a> -->
        </div>

      </li>


      <li class="nav-item nav-items categories-desktop active">
        <a class="nav-link desktop" href="/kyRong">Kỷ Rồng<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-items categories-desktop active">
          <a class="nav-link desktop" href="/pangea">Pangea<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-items categories-desktop active">
        <a class="nav-link desktop" href="/lemuria">Lemuria<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-items categories-desktop active">
          <a class="nav-link desktop" href="/atlantis">Atlantis<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-items categories-desktop active">
          <a class="nav-link desktop" href="/hienDay">Hiện đại<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-items categories-desktop active">
          <a class="nav-link desktop" href="/khac">Khác<span class="sr-only">(current)</span></a>
      </li>


      <!-- <li class="nav-item nav-items active">
        <a class="nav-link" href="/myProfile">My profile<span class="sr-only">(current)</span></a>
      </li> -->

      <li class="nav-item nav-items dropdown phone">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/kyRong">Kỷ Rồng</a>
          <a class="dropdown-item" href="/pangea">Pangea</a>
          <a class="dropdown-item" href="/lemuria">Lemuria</a>
          <a class="dropdown-item" href="/atlantis">Atlantis</a>
          <a class="dropdown-item" href="/hienDay">Hiện đại</a>
          <a class="dropdown-item" href="/khac">Khác</a>

          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#writter">Writter</a> -->
        </div>

      </li>

      <div class="logOutPhone">

        <form class="" action="/logOut" method="post">
          <button class="btn btn-logOutPhone" type="submit" name="button">Log out</button>
        </form>

      </div>

      <div class="btn-group dropleft desktop">
        <button type="button" class="dropdown-toggle btnLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My profile
        </button>
        <div class="dropdown-menu">
          <!-- Dropdown menu links -->
          <a class="dropdown-item" href="/updateBio">Write bio<span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="/write">Write new story<span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="/myProfile">Manage posts<span class="sr-only">(current)</span></a>
          <div class="dropdown-divider"></div>
          <form class="dropdown-item" action="/logOut" method="post">
            <button class="btnLink" type="submit" name="button">Log out</button>
          </form>
        </div>
      </div>

      <!-- <li class="nav-item nav-items dropdown desktop" style="left: 56%">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My profile
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/updateBio">Write bio<span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="/write">Write new story<span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="/myProfile">Manage posts<span class="sr-only">(current)</span></a>
          <div class="dropdown-divider"></div>
          <form class="dropdown-item" action="/logOut" method="post">
            <button class="btnLink" type="submit" name="button">Log out</button>
          </form>
        </div>

      </li> -->

  <div class="search-container desktop">
    <form action="/searchPosts" method="post">
      <input class="searchInputDesktop" type="text" placeholder="Search post..." name="search" autocomplete="on">
      <button class="searchBtnDesktop" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/timeline">Timeline</a>
          <a class="dropdown-item" href="/hand">Hand</a>
          <a class="dropdown-item" href="/thoughts">Thoughts</a>
          <a class="dropdown-item" href="/journey">Journey</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#writter">Writter</a>
        </div>

      </li> -->

    </ul>

  </div>
  <!-- <div class="logOut">

    <form class="" action="/logOut" method="post">
      <button class="btn btn-danger" type="submit" name="button">Log out</button>
    </form>

  </div> -->

  <div class="search-container phone">
    <form action="/searchPosts" method="post">
      <input class="searchInput" type="text" placeholder="Search post..." name="search" autocomplete="on">
      <button class="searchBtn" type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

  </nav>

<a href="#" id="back-to-top" class="back-to-top" style="display: inline;"><img class="flower" src="./files/flower.png"></a>
<!----------------------------------------- script for the back to top button ---------------------------------->
<script>
var link = document.getElementById("back-to-top");
var amountScrolled = 250;

window.addEventListener('scroll', function(e) {
if ( window.pageYOffset > amountScrolled ) {
  link.classList.add('show');
} else {
  link.className = 'back-to-top';
}
});

<!-- Scrolls to Top -->
link.addEventListener('click', function(e) {
e.preventDefault();

var distance = 0 - window.pageYOffset;
var increments = distance/(500/16);
function animateScroll() {
  window.scrollBy(0, increments);
  if (window.pageYOffset <= document.body.offsetTop) {
      clearInterval(runAnimation);
  }
};
// Loop the animation function
var runAnimation = setInterval(animateScroll, 16);
});
</script>
<!----------------------------------------- script for the back to top button ---------------------------------->
</div>
