<%-include("partials/header")%>

<body>
  <div class="container-fluid compose-container">
    <form class="" action="/compose" method="post">

      <!-- <div class="form-group compose-text">
        <label for="">Enter likes</label>
        <input type="text" name="likes" value="">
      </div> -->
      <div class="form-group compose-text">
        <input class="width70 invisibleInputBox" type="text" name="postTitle" value="" placeholder="Enter post title...">
      </div>
      <div class="form-group compose-text">
        <input class="width70 invisibleInputBox" type="text" name="postURL" value="" placeholder="Enter URL from an image...">
      </div>
      <div class="form-group compose-text">
        <textarea class="postContent invisibleInputBox" name="postText" rows="8" cols="80" placeholder="Write your story..."></textarea>
      </div>
      <div class="container-fluid compose-text">
        <p>Choose a category:</p>
      <div class="checkboxCategories">
        <input class="" type="checkbox" name="timeline" value="checked">
        <span>Timeline</span>
      </div>
      <div class="checkboxCategories">
        <input class="" type="checkbox" name="hand" value="checked">
        <span>Hand</span>
      </div>
      <div class="checkboxCategories">
        <input class="" type="checkbox" name="thoughts" value="checked">
        <span>Thoughts</span>
      </div>
      <div class="checkboxCategories">
        <input class="" type="checkbox" name="journey" value="checked">
        <span>Journey</span>
      </div>




      </div>
      <button class="btn-primary btn-lg btn-submit" type="submit" name="button">Submit</button>

    </form>
  </div>
</body>

<%-include("partials/footer")%>
