<%-include("partials/header")%>

<body>
  <div class="container-fluid compose-container">
    <form class="" action="/compose" method="post">

      <!-- <div class="form-group compose-text">
        <label for="">Enter likes</label>
        <input type="text" name="likes" value="">
      </div> -->
      <div class="form-group compose-text">
        <input class="width70 invisibleInputBox" type="text" name="postTitle" value="" placeholder="Enter post title..." required>
      </div>
      <div class="form-group compose-text">
        <input class="width70 invisibleInputBox" type="text" name="postURL" value="" placeholder="Enter URL from an image...">
      </div>
      <div class="form-group compose-text">
        <textarea class="postContent invisibleInputBox" name="postText" rows="8" cols="80" placeholder="Write your story..."></textarea>
      </div>
      <div class="container-fluid compose-text">
        <p>Choose a category:</p>




           <div class="checkboxCategories">
            <input class="check" type="radio" name="category" id="kyRong" value="kyRong">
            <span>Kỷ Rồng</span>
          </div>
          <div class="checkboxCategories">
            <input class="check" type="radio" name="category" id="pangea" value="pangea">
            <span>Pangea</span>
           </div>
          <div class="checkboxCategories">
            <input class="check" type="radio" name="category" id="lemuria" value="lemuria">
            <span>Lemuria</span>
          </div>
          <div class="checkboxCategories">
            <input class="check" type="radio" name="category" id="atlantis" value="atlantis">
            <span>Atlantis</span>
          </div>
          <div class="checkboxCategories">
            <input class="check" type="radio" name="category" id="hienDay" value="hienDay">
            <span>Hiện đại</span>
          </div>
          <div class="checkboxCategories">
            <input class="check" type="radio" name="category" id="khac" value="khac">
            <span>Khác</span>
          </div>



  <!-- <p>Please select your category:</p>
  <input type="radio" id="male" name="category" value="checked">
  <label for="male">Kỷ Rồng</label><br>
  <input type="radio" id="female" name="category" value="checked">
  <label for="female">Pangea</label><br>
  <input type="radio" id="other" name="category" value="checked">
  <label for="other">Lemuria</label>
  <input type="radio" id="other" name="category" value="checked">
  <label for="other">Atlantis</label>
  <input type="radio" id="other" name="category" value="checked">
  <label for="other">Hiện đại</label>
  <input type="radio" id="other" name="category" value="checked">
  <label for="other">Khác</label>

  <br>

  <p>Please select your age:</p>
  <input type="radio" id="age1" name="age" value="30">
  <label for="age1">0 - 30</label><br>
  <input type="radio" id="age2" name="age" value="60">
  <label for="age2">31 - 60</label><br>
  <input type="radio" id="age3" name="age" value="100">
  <label for="age3">61 - 100</label><br><br>
  <input type="submit" value="Submit"> -->


      </div>

      <div class="container-fluid compose-text">
        <p></p>
        <p>Choose visibility:</p>

           <div class="checkboxCategories">
            <input class="check" type="radio" name="visibility" id="private" value="private">
            <span>Private (Only you will be able to see this post)</span>
          </div>
          <div class="checkboxCategories">
            <input class="check" type="radio" name="visibility" id="public" value="public">
            <span>Public (Everybody will be able to read this post)</span>
           </div>


      </div>

      <button class="btn-primary btn-lg btn-submit" type="submit" name="button">Submit</button>

    </form>
  </div>
</body>

<%-include("partials/footer")%>
