<%-include("partials/header")%>

<body>
  <div class="container-fluid compose-container">
    <form class="" action="/updateBio" method="post">
      <div class="form-group compose-text">
        <textarea class="postContent invisibleInputBox" name="bio" rows="8" cols="80" placeholder="Enter a short bio..."></textarea>
      </div>
      <button class="btn-primary btn-lg btn-submit" type="submit" name="button">Save</button>
    </form>
  </div>
</body>

<%-include("partials/footer")%>
