body {
  background-color: white;
}

label {
  display: block;
}
.post-p{
  color: gray;
}
.checkboxCategories{
  display: block;
}
.btn-actions{
  width: 40px;
  height: 40px;
}
.centered{
  text-align: left;
}
.removeAndUpdate{
  display: inline-block;
  text-align: left;
}
.aboutMeTitle{
  font-family: font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 4rem;
}
.aboutMeText{
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1rem;
  margin: 30px 10px 0 0;
  color: gray;
}
.aboutMe{
  text-align: justify;
    width: 100%;
    height: 350px;
    top: 0px;
    margin: 0;
    background-color: transparent;
    padding-left: 210px;
    padding-right: 210px;
    padding-top: 85px;
}
.btn-lg{
  margin: 1px auto;
}
.margin0{
  display: inline;
  margin: auto 0 auto 0;
}
.btnNavbar{
    background: none!important;
    border: none;
    cursor: pointer;
}
.btnTitle{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: black;
  /* text-decoration: underline; */
  cursor: pointer;
  outline: none;
}
.btnTitle:focus {
    outline: 0 !important;
}

.btnTitle:hover{
  color: #069;
}
/* to make a button look like a link */
.btnLink{
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: black;
  /* text-decoration: underline; */
  cursor: pointer;
}
.btnLink:hover{
  text-decoration: underline;
}
.btnLink:focus{
  outline: 0 !important;
}
.invisibleInputBox {
  background-color: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /* cursor:default; */
}
.width70{
  width: 90%;
}
.postContent{
  width: 90%;
  height: 400px;
}
.col-3{
  margin-left: 60px;
}
.card-title{
  font-size: 1.3rem;
  font-family: font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-align: left;
  height: 50px;
}
.profile{
  display: inline-block;

}
.anchor{

}
.card-text2{
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: gray;
  min-height: 120px;
  min-width: 246px;
  text-align: justify;
}
.mvCol-4{
  font-family: font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: gray;
  font-size: 15px;
  display: inline;
  margin: auto 15px auto 0;
}
.mv{
  font-family: font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 0.8rem;
  color: gray;
  display: inline;
  margin: auto 15px auto 0;
}
.mv2{
  font-family: font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 0.8rem;
  color: black;
  display: inline;
  margin: auto 0 auto 0;
}
.top-4{
  font-size: 2.5rem;
  display: inline-block;
  color: gray;
}
.margin-top{
  margin-top: 10px;
}
.hidden{
  display: none;
}
.logOut{
  display: inline-block;
  position: relative;
  z-index: 100;
}
.home-posts{
  padding: 0px 50px 0px 150px;
}
.img-post{
  float: right;
  margin: 0;
  width: 150px;
  height: 150px;
  display: inline-block;
}

.main-title-home{
  margin: 100px auto auto auto;
  text-align: center;
}
.underline{
  text-decoration: underline;
}
.img-home{
  /* border-radius: 100px; */
  float: right;
  display: inline-block;
  overflow: hidden;
}
.col4-title{
  font-size: 1rem;
  display: inline-block;
}
.col4-img{
  height:80px;
  width: 80px;
}
.col4-posts{
  margin: 15px auto 15px auto;
  height: 50px;
  /* padding-bottom: 50px;
  padding-right: 150px; */
}
/* bootstrap class */
.sticky-top{
  top: 70px;
  z-index: 0;
}

.footer {
  background-color: #a6b1e1;
  padding: 30px;
  text-align: left;
}

hr {
    border: 0;
    height: 1px;
    width: 70%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, gray, #ccc);
}

.card-text {
  font-family: font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: gray;
  min-height: 60px;
  min-width: 246px;
  padding-right: 200px;
}

.card-img-top {
  width: 286px;
  height:213px;
}

.date {
  position: absolute;
  width: 100px;
  height: 30px;
  z-index: 1;
  background-color: #a6b1e1;
  /* starts from top-left in a clockwise direction */
  border-radius: 0 0 15px 0;
}

.categories {
  display: flex;
}

/* i defined my animation here like this */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.category-items {
  display: inline-block;
  width: 25%;
  height: 300px;
  padding: 0;
  margin: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.img1 {
  background-image: url("/files/timeline.jpeg");
}

.img2 {
  background-image: url("/files/hand.jpeg");
}

.img3 {
  background-image: url("/files/thoughts.jpeg");
}

.img4 {
  background-image: url("/files/buda.jpeg");
}

.btn-primary {
  font-size: 0.8rem;
  background-color: #424874;
  color: #fff;
  border: 1px solid #424874;
  border-radius: 30px;
}

/* by setting the display to 0 i make the element invisible */
.text-items {
  display: none;
  background-image: url("/files/timelineBackground.jpg");
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* when .category-items class is hover it will make the .text-items class visible, i use > because that class is inside the .category-items class */
.category-items:hover>.text-items {
  display: block;
  /* background-image: none; */
  /* in here im calling the animation fade-in that i defined before */
  animation: fade-in 0.8s;
}

.category-img {
  width: 100%;
  height: 100%;
}

.title-items {
  font-family: 'Berkshire Swash', cursive;
  font-size: 3.5rem;
  padding: 20%;
}

.p-items {
  padding: 4%;
}

/* .category-img{
  background-color: #fff;
  z-index: -1;
} */
.img-items {
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
}
.col-12{
  text-align: justify;
}
.footer {
  background-color: #a6b1e1;
  width: 100%;
  height: 100%;
}

.writter-name-container {
  position: relative;
  bottom: 50px;
  left: 120px;
  background-color: #a6b1e1;
  width: 250px;
  z-index: 100;
  border-radius: 15px;
}

.writter-container {
  margin: 20px;
  text-align: left;
  width: 300px;
  margin-left: 100px;
  border: 2px solid #a6b1e1;
  border-radius: 15px;
  overflow: hidden;
}

.writter-img {
  width: 300px;
  transition: transform 3.2s;
}

.writter-img:hover {
  transform: scale(1.5);
}

.boundaries {
  /* we set overflow hidden so when the things inside the div cant come out */
  overflow: hidden;
}

.zoom {
  transition: transform 3.2s;
  /* Animation and time it takes for the animation to happen */
}

.zoom:hover {
  transform: scale(1.5);
  /* how much its gonna scale, in this case 150% */
}

.new-posts {
  text-align: center;
}

.introduction {
  margin: 50px auto;
  font-family: "Montserrat", cursive;
  font-weight: 600;
  text-align: center;
  color: #a6b1e1;
}

.title {
  margin: 50px auto;
  font-family: "Montserrat", cursive;
  font-weight: 600;
  text-align: center;
  color: #a6b1e1;
  text-decoration: underline;
}

.introduction-text {
  width: 500px;
  color: black;
  margin: auto;
}

.container-fluid {
  padding: 0;
}

.navbar {
  /* The ! important property in CSS means that all subsequent rules on an element are to be ignored,
  and the rule denoted by ! important is to be applied. */
  background: rgba(232, 232, 232, 0.76) !important;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: 50px;
  z-index: 100;
}

.compose-container {
  margin: 10% auto;
}

.compose-text {
  display: block;
  text-align: left;
  margin-left: 50px;
}



.btn-submit {
  display: block;
  margin: 15px auto;
}

.card-post {
  display: inline-block;
  margin: 10px 10px;
  width: 18rem;
}

.white-background {
  margin: 0;
  padding: 2% 0;
  width: 100%;
  background-image: url("/files/meditation.jpg");
  /* these two lines make the image being fixed so its not gonna move when i scroll */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.banner-container {
  height: 600px;
  overflow: hidden;
  margin-bottom: 20px;
}

.banner {
  position: relative;
  bottom: 100px;
  width: 100%;
}
.brand{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.logOutPhone {
    display: none;
    z-index: 100;
}
/* .text-comtainer{
  height: 200px;
} */
.userContainer{
  padding-left: 170px;
  padding-right: 190px;
}
.card-text2MobileVersion{
  display: none;
}
@media (max-width: 1228px){
  .card-title {
    font-size: 1rem;
    font-family: font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: left;
}
.card-title-home {
  font-size: 1rem;
  font-family: font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-align: left;
}
}

@media (max-width: 1085px){
  .card-title {
    font-size: 0.8rem;
    font-family: font-family: 'Playfair Display', serif;
    font-weight: 600;
    text-align: left;
}
.card-title-home {
  font-size: 0.7rem;
  font-family: font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-align: left;
}

}


/* ---------------------------------phone size-------------------------- */
@media (max-width: 1000px) {
  body{
    margin-top: 180px;
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
}
.card-body{
  text-align: left;
}
.boundaries {
    overflow: hidden;
    height: 650px;
}
.width70 {
    width: 90%;
    height: 150px;
    font-size: 3rem;
}
.postContent {
    width: 90%;
    height: 600px;
    font-size: 3rem;
}
.compose-text {
    display: block;
    text-align: left;
    padding-left: 50px;
    font-size: 3rem;
}
.check{
  width: 80px;
  height: 80px;
}
.checkboxCategories{
  margin: 50px auto;
}
.btn-submit{
  width: 70%;
  height: 150px;
  font-size: 3rem;
  margin-top: 100px;
}
.container, .container-md, .container-sm {
    max-width: 100%;
    margin: auto 50px;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}
.card-title-home {
  font-family: font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-align: left;
  font-size: 4.5rem;
}
.btn-actions {
  width: 160px;
  height: 160px;
  font-size: 4rem;
}
  .card-text2{
    font-size: 2rem;
    display: none;
  }
  .card-text2MobileVersion {
      display: block;
      font-family: 'Roboto Mono', monospace;
      font-weight: 300;
      color: gray;
      min-height: 120px;
      min-width: 246px;
      text-align: justify;
      font-size: 2rem;
  }

  .userContainer{
    padding-left: 0;
    padding-right: 0;
  }
  .aboutMe {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 85px;
    margin-bottom: 50px;
}
.aboutMeTitle {
    font-family: font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 5rem;
}
.aboutMeText {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2rem;
    margin: 30px 10px 0 0;
    color: gray;
}
  .main-title-home{
    display: none;
  }
  .home-posts {
    padding: 0px 10px 0px 10px;
}
  .mv {
    font-family: font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2.5rem;
    color: gray;
    display: inline;
    margin: auto 15px auto 0;
}
.mv2 {
    font-family: font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2.5rem;
    color: black;
    display: inline;
    margin: auto 0 auto 0;
}
.card-text {
  font-family: font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 55px;
  color: gray;
  margin: 0 auto;
  min-width: 20px;
  min-height: 110px;
  padding-right: 0;
}
  .logOutPhone {
    display: inline-block;
    z-index: 100;
}
.logOut{
  display: none;
}
.btn-logOutPhone{
  font-size: 3rem;
  padding-left: 0;
}
  .phoneSize{
    display: none;
  }
  .col-7{
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .img-post {
    float: right;
    margin: 0;
    width: 100px;
    height: 100px;
    display: none;
}
  .brand{
    width: 130px;
    height: 130px;
    margin-right: 20px;
  }
  .footer-2{
    height: 300px;
    width: 100%;
    background-color: #a6b1e1;
    text-align: center;
    font-size: 2rem;
    padding: 500px auto;
    text-align: center;
  }
  .footer{
    padding-top: 10%;
    text-align: center;
    font-size: 3rem;
  }
  .dropdown-menu{
    font-size: 3rem;
    background: rgba(238,210,238,0.6) !important;
  }
  .navbar {
    /* The ! important property in CSS means that all subsequent rules on an element are to be ignored,
    and the rule denoted by ! important is to be applied. */
    background: rgba(238,210,238,0.6) !important;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 150px;
    z-index: 100;
    font-size: 3rem;
  }
  .nav-link{
    margin: 0 0;
    padding: 10px;
  }
  .navbar-toggler-icon{
    width: 120px;
    height: 120px;
  }
  .navbar-nav{
    background: rgba(238,210,238,0.6) !important;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .nav-item{
    padding: 0;
    margin: 0;
  }
  .navbar-brand{
    font-size: 3rem;
  }
  .intro-p{
    font-size: 3rem;
  }
  .introduction-text {
    width: 100%;
    padding: 20px;
    color: black;
    margin: auto;
  }
  .banner-container {
    display: none;
    height: 1000px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .banner {
    position: relative;
    bottom: 100px;
    width: 100%;
    height: 100%;
  }
  .white-background {
    margin: 0;
    padding: 2% 0;
    width: 100%;
    background-image: url("/files/meditation.jpg");
    /* these two lines make the image being fixed so its not gonna move when i scroll */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .card-post {
    display: inline-block;
    margin: 20px 10px;
    width: 90%;
    height: 1300px;
  }
  .btn-card{
    font-size: 2rem;
    margin-top: 20px;
    width: 20rem;
    height: 5rem;
  }

  .category-items {
    display: inline-block;
    width: 25%;
    height: 200px;
    padding: 0;
    margin: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .card-title{
    font-size: 3rem;
    height: 120px;
  }
  .card-img-top {
    min-height: 800px;
    min-width: 877px;
  }

  .p-items {
    display: none;
  }
  .categories{
    display: inline-block;
    width: 100%;
    background-color: black;
  }
  .category-items {
    display: inline-block;
    width: 100%;
    height: 900px;
    padding: 0;
    margin: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .title {
    margin: 50px auto;
    font-family: "Montserrat", cursive;
    font-weight: 600;
    font-size: 6rem;
    text-align: center;
    color: #a6b1e1;
    text-decoration: underline;
  }
  .date {
    position: absolute;
    font-size: 2rem;
    width: 200px;
    height: 60px;
    z-index: 1;
    background-color: #a6b1e1;
    /* starts from top-left in a clockwise direction */
    border-radius: 0 0 15px 0;
  }
  .title-items {
    font-family: 'Berkshire Swash', cursive;
    font-size: 8.5rem;
    padding: 20%;
  }
  .btn-category{
    width: 20rem;
    height: 6rem;
    font-size: 2rem;
  }
  .post-p{
    font-size: 3rem;
    color: gray;
  }
  .container{
    margin: auto;
    text-align: center;
  }
  .post-title{
    font-size: 6rem;
    margin-bottom: 100px;
  }
  .new-posts{
    margin-top: 150px;
  }
}
